PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# rebuild at startup to make sure docker images exist
@reboot root cd /root/compiler && ./build.sh >> /var/log/cron.log 2>&1
0 0 * * * root cd /root/compiler && ./build.sh >> /var/log/cron.log 2>&1
30 * * * * root docker images -q --filter "dangling=true" | xargs docker rmi
